#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container-A {
  width: 45%;
}

.form-A {}

.container-B {
  width: 45%;
}

.form-B {}